venv/
visdial-challenge-starter-pytorch/visdialch/data/
**/__pycache__
**/*pyc
a-PyTorch-Tutorial-to-Image-Captioning/apttic/
venv_torch_1/
.ipynb_checkpoints/
visdial-challenge-starter-pytorch/tokenizers/
